<%- include ('header') %>
<div class="row">
    <div class="col">
        <h1><%=title%></h1>        
    </div>
    
</div>

<div class="col">
    <h3>Dashboard</h3>
    <hr />
    <form action="/editProfile/<%=user._id%>" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" value="<%=user.name%>"/>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" value="<%=user.email%>"/>
        </div>

        
        
        <button class="btn btn-primary">Save</button>
    </form>
</div>

<%- include ('footer') %>